<div class="container">
  <h2>Registrar POA</h2>
  <form [formGroup]="poaForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="codigo_poa">Código POA:</label>
      <input id="codigo_poa" formControlName="codigo_poa">
      <div *ngIf="poaForm.get('codigo_poa')?.invalid && (poaForm.get('codigo_poa')?.touched || poaForm.get('codigo_poa')?.dirty)">
        {{ getErrorMessage('codigo_poa') }}
      </div>
    </div>

    <div class="form-group">
      <label for="unidad">Unidad</label>
      <select formControlName="unidad_id">
        <option *ngFor="let unidad of unidades" [value]="unidad.id">{{ unidad.nombre }}</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="area">Área (opcional)</label>
      <select formControlName="area_id">
        <option *ngFor="let area of areas" [value]="area.id">{{ area.nombre }}</option>
      </select>
    </div>
    
    <button type="submit" class="btn">Registrar POA</button>
    <br><a routerLink="/inicio">Inicio</a>

    <div *ngIf="errors.general" class="alert">{{ errors.general }}</div>
  </form>
</div>
