<body>
    <app-background></app-background> <!-- Componente que gestiona el fondo -->
    <div class="botones-container">
        <!-- Aquí el resto de tu estructura -->
        <button (click)="setFondoAnimado()" id="boton-animado"> </button>
        <button (click)="setFondoEstatico()" id="boton-estatico"> </button>
        <button (click)="setFondoDefault()" id="boton-defecto"> </button>
    </div>
   
    <img id="portada_inicio" src="assets/images/portada_plani_1.png" alt="">
    <app-cabecera></app-cabecera>
    
    <!-- APROBACION DE ACTIVIDADES -->
    <main>
        <div class="menu-lateral">
            <app-sidebar></app-sidebar>
            <app-mini-calendario></app-mini-calendario>
        </div>
        <div class="inicio-principales">
            <app-navbar></app-navbar>
            <app-noti-vehiculo *ngIf="mostrarNotificaciones"></app-noti-vehiculo>
            <app-noti-sinvehiculo *ngIf="mostrarNotificaciones"></app-noti-sinvehiculo>
            <!-- <app-notificaciones *ngIf="mostrarNotificaciones"></app-notificaciones> -->
            <app-actividades></app-actividades>
            <app-mapa-critico id="mapa-section"></app-mapa-critico> <!-- Añadir id aquí -->
        </div>
        <app-subir-inicio></app-subir-inicio>
    </main>
    <app-calendario-con-vehiculo id="calendario-section"></app-calendario-con-vehiculo> <!-- Añadir id aquí -->
    <app-calendario-sin-vehiculo id="calendario-section"></app-calendario-sin-vehiculo> <!-- Añadir id aquí -->
    <app-calendario-auditorio id="calendario-section"></app-calendario-auditorio> <!-- Añadir id aquí -->
    <app-calendario-virtual id="calendario-section"></app-calendario-virtual> <!-- Añadir id aquí -->
    
    <app-footer></app-footer>
</body>