<section id="actividades-section" class="actividades-container">
    <div class="actividades-row">
      <button class="actividad-button" (click)="goToActividadConVehiculo()">ACTIVIDAD CON VEHÍCULO</button>
      <button class="actividad-button" routerLink="/actividad-sin-vehiculo">ACTIVIDAD SIN VEHÍCULO</button>
    </div>
    <div class="actividades-row">
      <button class="actividad-button" (click)="goToActividadAuditorio()">ACTIVIDAD EN AUDITORIO</button>
      <button class="actividad-button" routerLink="/actividad-virtual">ACTIVIDAD VIRTUAL</button>
    </div>
    <div class="actividades-row">
      <button class="actividad-button" routerLink="/actividad-externa">ACTIVIDAD EXTERNA</button>
    </div>
</section>
  
  