.login-container {
    background-color: #b1bac7; // Fondo suave para todo el contenedor
    padding: 40px;
    border-radius: 12px;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 600px;
  }
  
  h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .login-image {
    width:200px;
    height: auto;
    margin: 0 auto 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    font-size: 14px;
    color: #ffffff;
    text-align: left;
  }
  
  input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #c500ff;
    background-color: #fff;
    transition: border-color 0.3s;
  
    &:focus {
      outline: none;
      border-color: #6439FF;
    }
  }
  
  .login-button {
    background-color: #c500ff;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  
    &:hover {
      background-color: #63a1f3;
      transform: translateY(-3px);
    }
  
    &:active {
      background-color: #00CCDD;
      transform: translateY(0);
    }
  }
.login-main {
  display: flex;
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
  //background: linear-gradient(45deg, #00c6ff, #0072ff, #3ee1d5, #b6faff);//frios
  //background: linear-gradient(45deg, #ff7e5f, #feb47b, #ff6a00, #f8b400);//calidos
  //background: linear-gradient(45deg, #9c4f96, #ff5e99, #6a2b8d, #d639c2);//nocturna
  //background: linear-gradient(45deg, #56ccf2, #6e7dff, #f5a623, #ffce54);//cielo
  //background: linear-gradient(45deg, #ff2a68, #00d2ff, #ff004c, #8000ff);//electrica
  //background: linear-gradient(45deg, #2a3d66, #5c6c8c, #a1c6e7, #e0e8f1);//gris y azul
  //background: linear-gradient(45deg, #00bcd4, #ff9800, #8bc34a, #cddc39);//tropical
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}
@keyframes color {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}