<app-cabecera></app-cabecera>
<div class="actividad-list">
    <h2>Actividades Pendientes de Aprobación - Unidad</h2>
    <table class="table">
      <thead>
        <tr>
          <th>#</th> <!-- Número de actividad -->
          <th>Código POA</th>
          <th>Operación</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>Área</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let actividad of actividades; let i = index"> <!-- i es el índice de la lista -->
          <td>{{ i + 1 }}</td> <!-- Número secuencial -->
          <td>{{ actividad.poa?.codigo_poa || 'Sin POA' }}</td> <!-- Código POA -->

          <td>{{ obtenerDescripcionOperacion(actividad) }}</td>
          <td>{{ actividad.fecha_inicio }}</td> <!-- Fecha de inicio -->
          <td>{{ actividad.fecha_fin }}</td> <!-- Fecha de fin -->
          <!-- <td>{{ obtenerUnidadOArea(actividad) }}</td> --> 
          <td>{{ actividad.usuario.area?.nombre || 'Sin nombre de área' }}</td>
          <td>{{ obtenerEstado(actividad) }}</td>

          <td>
            <button class="btn btn-success" (click)="aprobarActividad(actividad.id)">Aprobar</button>
            <button class="btn btn-danger" (click)="rechazarActividad(actividad.id)">Rechazar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  