<app-navbar></app-navbar>
<div class="container">
    <h2>Lista de Centros de Salud</h2>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Municipio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let centro of centrosSalud">
          <td>{{ centro.id }}</td>
          <td>{{ centro.nombre }}</td>
          <td>{{ centro.tipo }}</td>
          <td>{{ centro.municipio.nombre }}</td>
          <td>
            <button class="btn btn-primary" (click)="editarCentroSalud(centro.id)">Editar</button>
            <button class="btn btn-danger" (click)="eliminarCentroSalud(centro.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success" routerLink="/registrar-centro-salud">Crear Centro Salud</button>
    <br><a routerLink="/inicio">Inicio</a>
  </div>
<app-footer></app-footer>