<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h4>OBJETIVO</h4>
        <p>Contribuir al fortalecimiento de la Unidad de Planificación y Proyectos mediante el cumplimiento de la planificación estratégica, organización y métodos, suscripción de convenios y seguimiento a las recomendaciones de auditoría del Servicio Departamental de Salud Potosí.</p>
      </div>
      <div class="footer-section">
        <h4>CONTACTO</h4>
        <div class="contact-icons">
          <a href="mailto:sedespotosi2018@gmail.com" target="_blank" class="icon email" title="Correo Electrónico">
            <i class="fas fa-envelope"></i>
          </a>
          <a href="https://www.facebook.com/Potosi.SEDES" target="_blank" class="icon facebook" title="Facebook">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://x.com/sedes_potosi?lang=es&mx=2" target="_blank" class="icon twitter" title="Twitter">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="http://sedespotosi.com" target="_blank" class="icon website" title="Sitio Web">
            <i class="fas fa-globe"></i>
          </a>
          <a href="https://www.google.com/maps/@-19.5821049,-65.7531515,19z?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="icon address" title="Dirección">
            <i class="fas fa-map-marker-alt"></i>
          </a>
        </div>
        <div class="address" title="Dirección">
          <span>Potosí, Calle Chayanta N° 779</span>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      &copy; {{ currentYear }} SEDES Potosí. Todos los derechos reservados.
    </div>
  </footer>
  