<div class="dashboard">
    <h1>Bienvenido al Dashboard</h1>
  
    <!-- Mostrar el botón solo si el usuario es planificador -->
    <button *ngIf="esPlanificador" (click)="irARegistroUsuario()">
      Registrar Nuevo Usuario
    </button><br><br>
    <button *ngIf="esPlanificador" (click)="irARegistroUnidad()">
      Registrar Nueva Unidad
    </button>
    <button *ngIf="esPlanificador" (click)="irARegistroArea()">
      Registrar Nueva Area
    </button>
    <button *ngIf="esPlanificador" (click)="irARegistroPoa()">
      Registrar Nuevo POA
    </button>
    <button *ngIf="esPlanificador" (click)="irARegistroOperacion()">
      Registrar Nueva OPERCION
    </button><br><br>
    <button *ngIf="esPlanificador" (click)="irARegistroCoordinacion()">
      Registrar Nueva Coordinacion
    </button>
    <button *ngIf="esPlanificador" (click)="irARegistroMunicipio()">
      Registrar Nuevo Municipio
    </button>
    <button *ngIf="esPlanificador" (click)="irARegistroCentroSalud()">
      Registrar Nuevo Centro de Salud
    </button><br><br>
    <button *ngIf="esPlanificador" (click)="irARegistroVehiculo()">
      Registrar Nuevo vehiculo
    </button><br><br>
    <!-- <button *ngIf="esPlanificador" (click)="irARegistroActividadVehiculo()">
      Registrar ACTIVIDAD CON VEHICULO
    </button> -->
    <h2>EDICION DE DATOS</h2>
    <button *ngIf="esPlanificador" (click)="irAEditUnidad()">
      Editar Unidad
    </button>
    <button *ngIf="esPlanificador" (click)="irAEditArea()">
      Editar Area
    </button><br><br>
    <h2>ACTIVIDADES</h2>
    <br><a routerLink="/actividad-vehiculo">ACTIVIDAD VEHICULO</a>
    
    <!-- APROBACION DE ACTIVIDADES -->
    <div *ngIf="esPlanificador">
      <button class="btn btn-primary" (click)="irAprobarPlanificador()">Aprobar Actividades (Planificador)</button>
    </div>    
    <div *ngIf="esResponsableUnidad">
      <!-- Botón solo visible para el responsable de unidad -->
      <button (click)="irAAprobarActividadesUnidad()">Aprobar Actividades Unidad</button>
    </div>

</div>
  