<!-- <app-cabecera></app-cabecera> -->
 <body>
    <main>
        <app-navbar></app-navbar>
        <div class="reportes">
            <div class="menu-lateral">
                <app-sidebar></app-sidebar>
                <app-mini-calendario></app-mini-calendario>
            </div>
            <div class="inicio-principales">
                <app-reporte-con-vehiculo></app-reporte-con-vehiculo>
                <app-reportes-sin-vehiculo></app-reportes-sin-vehiculo>
                <app-reportes-auditorio></app-reportes-auditorio>
                <app-reportes-virtual></app-reportes-virtual>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
 </body>
